<% @articles.each do |a| %>

  <div class="article row clearfix">
    <h2>
      <%= link_to a.title, user_article_path(a.user, a) %> (<%= a.comments.count %> comments)<br />
      <small class="author">Thread by <%= link_to a.user.username, a.user %></small>
    </h2>
  </div>

<% end %>
