<h1><%= @user.username %></h1>

<div class="user-articles">
  <% @user.articles.each do |a| %>
    <h2>
      <%= link_to a.title, user_article_path(@user, a) %> (<%= pluralize(a.comments.count, "comment") %>)
    </h2>
  <% end %>
</div>
